* {
    margin: 0;
    padding: 0;
    font-family: Trade Gothic W01 Light, Arial, sans-serif;
}

#top-left p {
    display: inline-block;
    /* margin-top: 10vw; */
    margin-left: 2vw;
    font-size: 0.75em;
    margin-bottom: 5vh;
}

#mainDiv img {
    width: 100%;
    height: 22vh;
}

#signInImg {
    margin-bottom: 8vh;
}

h3 {
    margin-bottom: 1.5vh;
}

hr {
    margin-bottom: 7vh;
}

#center {
    width: 75vw;
    margin: auto;
    margin-bottom: 55vh;

}
#info {
    width: 80%;
    margin: auto;
}
#in{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
#in p {
    margin-bottom: 1vh;
    color: rgb(15, 15, 15, 0.6);
    font-size: 0.8em
}
input {
    margin-bottom: 3vh;
    padding: 5px;
    padding-right: 199px;
    /* width: 150%; */
    border: 1px rgb(15, 15, 15, 0.2) solid;
    font-size: 0.8em;
}

#sub {
    border: 1px rgb(15, 15, 15, 0.9) solid;
    background-color: rgb(15, 15, 15, 0.9);
    color: white;
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.cen {
    text-align: center;
}

.forget {
    text-decoration: underline;
    cursor: pointer;
}

