* {
    margin: 0;
    padding: 0;
    font-family: Trade Gothic W01 Light, Arial, sans-serif;
}

#top-left p {
    display: inline-block;
    /* margin-top: 10vw; */
    margin-left: 2vw;
    font-size: 0.75em;
    margin-bottom: 5vh;
}

#signInImg {
    margin-bottom: 8vh;
}

h3 {
    margin-bottom: 1.5vh;
}

hr {
    margin-bottom: 7vh;
}

#center {
    width: 75vw;
    margin: auto;
    /* border: 1px red solid; */
    margin-bottom: 55vh;

}

#mainDiv img {
    width: 100%;
    height: 22vh;
}

#main {
    /* border: 1px red solid; */
    height: 25vh;
    display: flex;
}

#left {
    /* border: 1px blue solid; */
    /* height: 25vh; */
    width: 45%;
}

#centerLine {
    /* border: 1px blue solid; */
    height: 220%;
    width: 10%;
    border-right: 2px black solid;
    margin-right: 20vh;
    /* position: absolute; */
}

/* #centerLine p{
    position: relative;
    top: 20px
} */

#right {
    height: 25vh;
    width: 38%;
    margin: auto;
    /* border: 1px red solid; */
}

#right img {
    margin-bottom: 10vh;
}

.first {
    width: 80%;
    margin: auto;
    /* border: 1px black solid; */
}

.cen {
    text-align: center;
    margin-bottom: 3vh;
    color: rgb(15, 15, 15, 0.6)
}

.first input {
    /* display: block;
    margin-right: auto;
    margin-left: auto; */
    width: 90%;
    padding: 8px;
    margin-bottom: 2vh;
    border: 1px rgb(15, 15, 15, 0.2) solid;
    font-size: 0.8em;
}

.first button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.second {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.thired {
    display: flex;
    justify-content: space-between;
}

.ip {
    margin-bottom: 1vh;
    font-size: 0.85em;
    color: rgb(15, 15, 15, 0.8);
}

.forget {
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(15, 15, 15, 0.6);
}

#btn {
    border: 1px rgb(15, 15, 15, 0.9) solid;
    background-color: rgb(15, 15, 15, 0.9);
    color: white;
    padding: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

}

.btn {
    border: 1px rgb(15, 15, 15, 0.9) solid;
    background-color: rgb(15, 15, 15, 0.9);
    color: white;
    padding: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}