body{
    font-family: Trade Gothic W01 Light, Arial, sans-serif;
}#continueShoping{
    margin: auto;
    display: flex;
    color: black;
    align-items: center;
}#imglog{
    height: 18px;
    width: 14px;
    margin-right: 8px;
    color: #0a0a0a;
    margin-top: 140px;
}
/* <!-- <-------------------------------suggestion------------------------->  */
.suggestion, .suggestion2{
    margin: auto;
    width: 50%;
    border: 1px solid #e5e5e5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:30px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
.suggestion_box{
    width: 100%;
    height: auto;
    padding: 10%;
    overflow-x: hidden;
    margin: auto;
}.suggestion_box > .suggestion_img{
    margin: auto;
    display: block;
    width: 40%; 
    height: 40%;
    margin-bottom: 10%;
}#itemname{
    width: 100%;
}.suggestion_price{
    font-weight: 100;
    font-size: small;
}.suggestion_offer, .suggestion_description{
    font-weight: lighter;
    font-size: x-small;
}.suggestion_offer{
    color: #CC0000;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10px;
    line-height: 15px;
}.suggestion_description{
    color: #333333;
    line-height: 10px;
}.suggestion_title, .suggestion_price{
    width: 80%;
    color: #333333; 
    margin: auto;
    line-height: 20px;
}.suggestion_box > .QUICKLOOK{
    display: block;
    margin: auto;
    margin-top: -50px;
}.suggestion_box:hover > .QUICKLOOK{
        transform: translate(0%);
        margin-top: -90%;
        margin-bottom: 70%;
}
/* ------------------------------text------------------------ */
#paycheck{
    margin: auto;
    width: 70%;
    display: flex;
    margin-top: 30px;
}#IISB{
    font-size: smaller;
    font-weight: 100;
    display: flex;
}-----------------------------text------------------------ */
#paycheck > .checkoutbag {
    margin: auto;
}#paycheck > div{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}#paycheck > .paycheck2{
    margin: auto;
    gap: 20px;
}#paypal > img{
    width: 70%;
    height: 100%;
}.ASAP{
    margin: auto;
    width: 100%;
    font-size: small;
    font-weight: 600;
    color: #005699;
    background-color: #e6f5ff;
    line-height: 17px;
    padding: 12px 30px 12px 15px;
    margin: 10px 0 0;
}#ASAP{
    margin: auto;
    width: 60%;
}.YSAPC{
    margin: auto;
    text-align: center;
    width: 100%;
    font-size:15px;
    font-weight: 600;
    color: #333333;
    background-color: #f2f2f2;
    line-height: 17px;
    padding: 12px 30px 12px 15px;
    margin: 10px 0 0;
}#YSAPC{
    margin: auto;
    width: 60%;
}#Twopart{
    display: flex;
    margin: auto;
    width: 40%;
    justify-content: space-around;
    line-height: 25px;
    padding: 10px;
}.adjust{
    margin-top: 50px;
}#alter{
    margin: auto;
    width: 70%;
}#changes{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}#ChangeStore{
    border-bottom: 1px solid black;
    padding: 0%;
    margin: 0%;
}#StoreDetails{
    padding: 0%;
    margin: 0%;
    border: none;
}#mk-9{
    border-left: 5px solid #f2f2f2;
}#mk-8{
    border: 1px solid #f2f2f2;
    width: 70%;
    margin: auto;
}.firstdiv{
    color: #005699;
    display: block;
    align-items: center;
    margin: auto;
}#fthpart{
    margin: auto;
}.firstdiv> .fa-location-dot ,.fa-truck{
    color: #e944a4;
}#paypal:hover , #paypal:focus{
    background-color: rgb(228, 246, 252);
}
    /* <!-- <---------------------------------shopping bag--------------------- --> */
#shopping_bag{
    margin: auto;
    width: 57%;
    border-bottom: 1px solid black;
    line-height: 10px;
    margin-bottom: 3%;
}.shopping_bag_text{
font-weight: 100;
margin-bottom: 30px;
}
/* Quicklook----------------------------------------> */
.QUICKLOOK{
    visibility: hidden;
    display: flex;
    margin: auto;
    background-color: black;
    border: none;
    color: #ddd;
    padding: 10px;
}.suggestion_box:hover .QUICKLOOK{
    visibility: visible;
}.QUICKLOOK:hover{
    background-color: #ddd;
    border: none;
    color: black;
}
/* CArt----------------------------------------> */

table,
td,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 57%;
  margin: auto;
  margin-top: 50px;
}th{
    border: none;

}td{
    border: none;
}

th,
td {
  padding: 15px;
}

tr > th {
  background-color: #f1f1f1;
  color: black;
}

/* ------------ttr_box */
#tr_box{
    border-bottom: 1px solid rgb(8, 7, 7);
    margin: auto;
}
/* --------------------------quantity-------------------> */
#qtydiv{
    display: flex;
    margin: auto;
    padding: 3px;
    box-sizing: border-box;
    gap: -1px;
    display: flex;
    justify-content: center;
    background-color: F2F2F2;
    color: #666666;
    

}
.displayMe{
    border: 1px solid rgb(224, 223, 223);
    height: 20px;
    width: 20px;
    text-align: center;

}
/* <-----------------------------------------------------------cart------------------------> */
#Remove-1{
    border: none;
    background: none;
}.cartwish{
    border: none;
    background: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}#conitem{
    display: flex;
}#suggestion_img{
    width: 30%;
    height: 10%;
}
/* <-----------------------------------------------------------------promotion---------------------------> */

#promoiner{
    display: flex;
    position: relative;
    visibility: hidden;
}#promo:hover #promoiner{
    visibility: visible;
}#paypal{
    display: block;
    height: 35px;
    width: 180px;
    background: #ffc439;
    border: 0;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
    margin-top: 0;
    border-radius: 3px;
    float: left;
}.checkoutbag{
    display: block;
    height: 35px;
    width: 180px;
    background: #008527;
    border: 0;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
    margin-top: 0;
    float: left;
}.fa-lock{
    color: white
}
/* <------------------------------couponcode--------------------------> */
#couponcode{
    width: 57%;
    margin: auto;
}.couponcode1{
    width: 25%;
    border: 2px solid #f2f2f2;
    text-align: center;
    margin: auto;
    margin-left: 21%;
    margin-top: 2%;
}.couponcode2{
    text-align: center;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-left: 50%;
    margin-top: -24%;
}.bottom{
    margin-bottom: 8%;
}
#pricesummary{
    background-color: #f2f2f2;
    width: 100%;
}.paycheck{
    display: flex;
    padding: 10px 10px 30px 10px;
}#margin1{
    margin: auto;
    width: 57%;
    display: flex;
    justify-content: end;
    margin-top: 2%;
    border-bottom: 1px solid #e5e5e5;
}#Updatebag{
    display: block;
    height: 35px;
    width: 180px;
    border: 0;
    background-color: black;
    border: none;
    color: #ddd;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
    margin-top: 0;
    float: left;
    margin-bottom: 4%;
}#Updatebag:hover{
    background-color: #ddd;
    color: black;
}.small2{
    width: 100%;
    font-size: x-small;
}.line1{
    margin: auto;
    width: 50%;
    border-top: 2px solid #ddd;
}.payin{
    margin: auto;
    gap: 30px;
}#colour2{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
} .boldtext{
    font-weight: bold;
}.bottomz{
    border: 0;
    background-color: black;
    border: none;
    color: #ddd;
    text-align: center;
    padding: 4px;
    margin-top: 0;
}#pluscount , #minscount , .displayMe{
    background-color: F2F2F2;
    color: #666666;
    text-align: center;
    margin: auto;
}#pluscount , #minscount{
    border: none;
    padding: 4px;
}


