.containr{
width: 57%;
margin: auto;
margin-top: 80px;
display: grid;
grid-template-columns: repeat(2,1fr);
margin-bottom: 40px;
}#wish12{
    border: 0px;
    background-color: transparent;
    margin: auto;
    display: flex;
    gap: 20px
    ;
}.cartwish{
    margin: auto;
    background-color: black;
    border: none;
    color: #ddd;
    padding: 10px;
}#imageB{
    margin: auto;
    display: flex;
    margin-bottom: 150px;
    margin-left: 0px;
}#desprodiv{
    margin: auto;
   margin-top: 10px;
}.proddescription{
    line-height: 50px;
}