#container_gift{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    font-family: Trade Gothic W01 Light, Arial, sans-serif;
  
}

/* image section */
.gift_div{
    text-align: center;
    line-height: 5px;
    margin-bottom:50px;
   
}

.gift_div>div{
    width:70%;
    height:350px;
    margin:auto;
    padding:25px;
    box-sizing: border-box;
    
    
}
.gift_div>div:hover{
    border:2px dotted grey;
}
.gift_div>div>img{
    width:200px;
    height:300px;
    display: block;
    margin:auto;
}   
#gift_button{
    background-color: #272525;
    color:white;
    border:none;
    transition: all 0.5s;
    margin-top:5px;

}
#gift_button:hover{
    background-color: white;
    color:black;
}
#gift_button:focus{
    background-color: blue;
}
.spaan{
    display:none
}
.gift_div>div:hover .spaan{
    display:block;
    color:#3d3db9;
    text-decoration: underline;
    
}
.spaan1{
    display:block;
    margin-top: 15px;
   
}
.checked{
    color:orange;
}









